<div>
	<div v-if="id == -1">
		<span>{{displayName}}</span>
	</div>
	<div v-else>
		<span>{{displayName}} <span class="glyphicon glyphicon-user text-danger" title="The Landlord" v-if="isMaster"></span></span>
		<div v-if="stage == 0" class="m10">
			<span class="label label-success" v-if="hasPrepared">Prepared</span>
			<span class="label label-default" v-else>Not Ready</span>
		</div>
		<div v-else-if="stage == 1">
			<div v-if="speaking">
				<span class="glyphicon glyphicon-time text-primary"></span>
			</div>
			<div v-else>
				<span class="label label-success" v-if="callState < 0">Pass</span>
			</div>
		</div>
		<div v-else-if="stage > 1">
			<div class="m10">
					<span class="btn-group" v-if="stage == 3">
						<input type="button" v-for="c in parsedCards" :value="c.text" class="btn btn-default">
					</span>
					<span v-else>
						<div class="btn btn-default">
							<span v-if="cardCount >= 2">
								<span class="badge">{{cardCount}}</span> cards
							</span>
							<span v-else-if="cardCount == 1">
								<span class="badge">{{cardCount}}</span> card
							</span>
							<span v-else-if="cardCount == 0">
								Winner!
							</span>
						</div>
					</span>
			</div>
			<div v-if="speaking && stage == 2" class="m10">
				<span class="glyphicon glyphicon-time text-primary" key="timer"></span>
			</div>
			<div v-else-if="shotCount" class="m10">
				<span class="btn-group" v-if="parsedLastShot.length > 0">
					<input type="button" v-for="c in parsedLastShot" :value="c.text" class="btn btn-default" disabled>
				</span>
				<span class="label label-default" v-else>Pass</span>
			</div>
		</div>
	</div>
</div>